@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body
{
    width: 100%;
    height: 100%;
    background-color: rgb(60, 77, 95);
    font-family: 'Open Sans', sans-serif;
}

#header{
	width: 100%;
	background-color: rgb(83, 120, 158);
	height: 150px;
}

#title{
	margin-top: 2%;
	display: inline-block;
}

#login-form input[type="text"]{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	width: 25%;
	margin-right: 2%;
}

#login-form input[type="password"]{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	width: 25%;
}

#login-form button{
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	width: 20%;
}

#login-form label{
	color: white;
}

#title h1{
	font-size: 2.5em;
	color: white;
}

/**
 * 	For portrait on phone
 */
@media only screen and (max-width: 480px){
	#header{
		width: 100%;
		background-color: rgb(83, 121, 159);
		height: 215px;
	}
	
	#login-form input[type="text"]{
		display: block;
		width: 75%;
	}
	
	#login-form input[type="password"]{
		display: block;
		width: 75%;
	}
	
	#login-form button{
		width: 45%;
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 3%;
	}
}

/**
 * 	Only for desktops and large screens
 */
@media only screen and (min-width: 1024px){
	.row:nth-child(1){
		padding-top: 5%;
	}
}
	